:root {
    --background-color: #FFDBDB;
    --background-color2: #4B8F8C;
    --palette-color1: #333745;
    --palette-color2: #E63462;
    --palette-color3: #77CBB9;
}

*, :before, :after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: clamp(15px, 2vw, 20px);
    background-color: var(--background-color);
}

p {
    color: var(--palette-color1);
}

h1 {
    color: var(--palette-color2);
}

header {
    background-color: var(--background-color2);
}

header h1 {
    color: var(--background-color);
}

main h1 {
    margin: 2vh 2vw;
}

.introduction, .article-section {
    max-width: 1500px;
    margin: clamp(10px, 3vh, 30px) clamp(20px, 8vw, 100px);
}

.introduction .index{
    border: 2px solid var(--background-color2);
    margin-top: clamp(15px, 4vh, 60px);
    width: clamp(300px, 40vw, 500px);
}

.introduction .index ul{
    margin-left: clamp(30px, 4vw, 60px);
}

.introduction .index a{
    color: var(--palette-color1);
    text-decoration: none;
}

.article-section ul{
    margin-bottom: 2vh ;
    margin-left: 5vw;
    margin-top: 2vh;
}

.article__example-box {
    background-color: var(--palette-color3);
    margin: 3vh 3vw;
    border: 2px solid var(--palette-color2);
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1vw;
}

.article__example-box__grid-cell p{
    text-align: center;
    padding-left: 1vw;
}

.article__example-box__grid-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__example-box__grid-cell p:nth-of-type(1){
    font-size: clamp(15px, 2vw, 30px);
    font-weight: bold;
}

.article__example-box__grid-cell p:nth-of-type(2){
    border-left: 1px solid var(--palette-color1);
    width: fit-content;
}
